RewriteEngine on
Options -Indexes

# Rewrite Rule for location
RewriteRule ^location/([^/]+)/?$ locations.php [NC,L]

# Ignore directory and file checks for specific paths
RewriteCond %{REQUEST_URI} !^/location/ [NC]

# Rewrite Condition for Directory
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite Condition for File
RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite Rule for PHP files
RewriteRule ^([^\.]+)$ $1.php [NC,L]
