@keyframes rotate360 {
    0%{
        transform: rotate(0deg);

    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes text-zoomin {
    0%{
        transform:scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}

@keyframes waveLeftRight {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(15deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-15deg);
    }
    100%{
        transform: rotate(0deg);
    }   
}

@keyframes loading {
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
    
}

@keyframes moveInDown {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes moveOutUp {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100%);
    }
}

@keyframes scrollingVertical {
    0% {
        transform: translateX(+100%);
    }
    
    100% {
        transform: translateX(-100%);
    }
}

@keyframes moveMenuImg {
    0%{
        transform: translateX(0) translateY(0);
    }
    18%{
        transform: translateX(8px) translateY(8px);
    }
    36%{
        transform: translateX(0) translateY(16px);
    }
    54%{
        transform: translateX(-8px) translateY(16px);
    }
    72%{
        transform: translateX(-16px) translateY(8px);
    }
    85%{
        transform: translateX(-8px) translateY(0);
    }
    100%{
        transform: translateX(0) translateY(0);
    }
}

@keyframes moveInLeft {
    0%{
        transform: translateX(10%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInDown {
    0%{
        transform: translateY(-40%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}