header{
    height: auto;
    background-color: var(--treansprent);
}

.section-1{
    height: auto;
    width: 100%;
    background: url("../images/background2-pink.png") var(--theme-color3);
    background-repeat: repeat-y;
    position: relative;
}

.floatdiv{
    position: fixed;
    bottom: 0;
    z-index: 3;
}

.platform{
    width:100%;
    height: 20vh;
    z-index: 100;
}

.waiter-1{
    height: 60vh;
    left: 5vh;
    bottom: 5vh;
    z-index: 101;
}

.waiter-2{
    height: 60vh;
    right:5vh;
    bottom: 5vh;
    z-index: 101;
}

.move-in-down{
    animation: moveInDown 0.5s;
}

.move-out-up{
    animation: moveOutUp 0.5s;
}



.catering-banner{
    padding: 20vh;
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
    background-image: url(../images/banner-bg.png);
}

.catering-banner > .design-bg{
    position: absolute;
    height: 800px;
    width: 800px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    animation: rotate360 90s linear infinite;
    z-index: 2;
}

.catering-banner > h2{
    font-family: var(--written-font);
    color: var(--theme-color-logo2);
    transform: scale(1.5);
    position: relative;
    z-index: 1;
}

.catering-banner-heading-carousel {
    position: relative;
    z-index: 3;
}

.catering-banner-heading-carousel >  .slick-list > .slick-track > .heading-item{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.catering-banner-heading-carousel >  .slick-list > .slick-track > .heading-item > h1{
    font-family: var(--main-heading-font);
    color: var(--theme-color5);
    font-size: 50px;
    position: relative;
    z-index: 3;
}

.catering-banner-heading-carousel >  .slick-list > .slick-track > .heading-item > h4{
    font-family: var(--sub-heading-font);
    color: var(--theme-color-logo2);
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
    margin-bottom: 5vh;
}

.catering-banner > p{
    font-family: var(--text-font);
    width: 65%;
    margin: 30px auto;
    color: #e3e3e3;
    position: relative;
    z-index: 3;
}

.catering-overlay-green{
    position: absolute;
    height: 100%;
    width:100%;
    top:0;
    left:0;
    z-index: 0;
    background-color: rgba(9, 59, 0,0.2);
}

.catering-banner-menu-container{
    height:25vh;
    width:85%;
    margin: auto;
    position: relative;
    z-index: 3;
}

.catering-banner-menu-container > .slick-list > .slick-track > .catering-banner-menu-item{
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    flex-direction: column;
    padding: 5px;
}

.catering-banner-menu-container > .slick-list > .slick-track > .catering-banner-menu-item >h6{
    color: var(--theme-color6);
    font-family: var(--main-heading-font);
    font-size: large;
}

.catering-banner-menu-container > .slick-list > .slick-track > .catering-banner-menu-item  > button{
    color: #fff;
    font-family: var(--main-heading-font);
    background-color: var(--theme-color5);
    font-size: 0.8rem;
}

.catering-banner-menu-container > .slick-dots li button:before{
    color: rgb(207, 207, 207);
    opacity: 1;
    font-size: 10px;
}

.catering-banner-menu-container > .slick-dots li.slick-active button:before{
    color: white;
    opacity: 1;
    font-size: 15px;
}

/* section catering services */

.catering-scrolling-container{
    width: fit-content;
    overflow: hidden;
    margin: 50px auto;
}

.catering-scrolling-container > h1{
    font-family: var(--sub-heading-font);
    display: inline-block;
    color: var(--theme-color6);
    white-space: nowrap;
    animation: scrollingVertical 35s linear infinite;
}

.catering-services-container-main{
    width: 100%;
    height: auto;
    padding-bottom: 10vh;
}

.catering-services-container{
    width: 50%;
    margin: auto;
}

.catering-services-container > .catering-item{
    margin: 7px;
    overflow: hidden;
}

.catering-item-head{
    display: flex;
    justify-content: space-between;
    background-color: var(--theme-color5);
    padding: 10px 30px;
    border-radius: 5px;
    z-index: 3;
    position: relative;
}


.catering-item-head > h3{
    color: white;
    font-family: var(--sub-heading-font);
    margin: 0;
}

.catering-item-head > i{
    color: white;
    font-size: 25px;
    transition: rotate 0.5s linear;
}

.catering-item-body{
    display: none;
    border-radius: 5px;
    background-color: white;
    font-family: var(--text-font);
    color: var(--text-color);
    height:40vh;
    padding: 20px;
    z-index: 1;
    position: relative;
    overflow-y: scroll;
}

.catering-gallery-heading{
    text-align: center;
    font-size: 50px;
    margin: 10vh auto 2vh;
    font-family: var(--main-heading-font);
    color: var(--theme-color5);
    position: relative;
    z-index: 1;
}

.gallery-main-container{
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 4vh 0;
    margin-bottom: 100px;
    background: url(../images/banner-bg.png) rgba(255,255,255,0.8);
    background-size: cover;
}

.gallery-main-container > .gallery-container{
    position: relative;
    height:55vh;
    width: 50%;
    z-index: 1;
    margin: auto;
}

 .gallery-catering-item{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.gallery-catering-item > img{
    width:auto;
    height:45%;
    margin: auto;
    border-radius: 10px;
}

.slick-initialized .slick-slide{
    display: flex;
}

.slick-slide{
    transform: none;
    margin: 20px;
    opacity: 1;
    border-radius: 0;
}

.slick-prev::before, .slick-next::before{
    color: var(--theme-color5);
}

.section-4{
    background-color: var(--transperent);
    height: 90vh;
}

.slick-carousel1 > .slick-list > .slick-track > .slick-slide {
    opacity: 0.8;
    transform: scale(0.7);
}

.slick-carousel1 > .slick-list > .slick-track > .slick-slide.slick-current {
    transform: scale(1);
    opacity: 1;
}


.slick-carousel2 > .slick-list > .slick-track > .slick-slide{
    display: flex;
    flex-direction: column;
}


.catering-details-main-container {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: none;
    justify-content: space-around;
    z-index: 200;
    top: 0;
    background-color: rgba(0,0,0,0.8);
}

.catering-details-main-container > .close-details-btn{
    position: fixed;
    top: 5vh;
    right: 10vw;
    z-index: 210;
    color: var(--theme-color3);
    font-size: 20px;
    font-weight: 600;
    border-radius: 50%;
    border:#e3e3e3 solid 2px
}

.catering-details-main-container > .catering-details-container{
    width: 70%;
    height:80vh;
    padding: 2%;
    background: url(../images/background2-pink.png) var(--theme-color3);
    background-position: center;
    background-size: cover;
    margin: auto 0;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
    overflow-y: scroll;
    position: relative;
}

.catering-details-main-container > .catering-details-container > button{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: 700;
    color: var(--theme-color6);
    background-color: var(--transperent);
    border: var(--theme-color6) 3px solid;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.catering-details-main-container > .catering-details-container > .catering-details{
    display: none;
}

.catering-details-main-container > .catering-details-container > .catering-details > .catering-heading{
    font-family: var(--main-heading-font);
    color: var(--theme-color4);
}

.catering-details-main-container > .catering-details-container > .catering-details > .catering-details-intro{
    font-family: var(--text-font);
    color: #5c5c5c;
}

.catering-details-main-container > .catering-details-container > .catering-details > .catering-menu-heading{
    font-family: var(--main-heading-font);
    color: var(--theme-color5);
}

.catering-details-main-container > .catering-details-container > .catering-details > button{
    border: 0;
    background-color: var(--theme-color5);
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px;
    font-family: var(--main-heading-font);
}

.catering-menu-container{
    display: flex;
    justify-content: space-around;
}

.catering-menu-container > .catering-menu-column > .catering-sub-heading{
    font-family: var(--sub-heading-font);
    margin-left: 20px;
    color: var(--theme-color6);
}

.catering-menu-container > .catering-menu-column >ul{
    font-family: var(--text-font);
    color: var(--text-color);
}

.catering-details-main-container > button{
    height:50px;
    width: 50px;
    margin: auto 0;
    border: 0;
    background-color: rgba(0,0,0,0);
}

.catering-details-main-container > button > i{
    font-size: 40px;
    color: var(--theme-color3);
}

.slick-carousel1 > .slick-prev::before,.slick-carousel1> .slick-next::before{
    color:var(--theme-color6);
}

.our-clients-section{
    width:100%;
    height: 80vh;
    text-align: center;
}

.our-clients-section > .our-clients-heading{
    font-family: var(--main-heading-font);
    color: var(--theme-color5);
    font-size: 50px;
}

.our-clients-container{
    width:60%;
    margin: auto;
}

.our-clients-container > .slick-list > .slick-track > .our-client-item >img{
    margin: auto;
    background-color: rgb(207, 207, 207);
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
}

.our-clients-container > .slick-list > .slick-track > .slick-slide{
    transform: scale(0.8);
    opacity: 0.8;
}

.our-clients-container > .slick-list > .slick-track > .slick-slide.slick-current{
    transform: scale(1);
    opacity: 1;
}

.our-clients-container > .slick-dots li button:before{
    color: rgb(207, 207, 207);
    opacity: 1;
    font-size: 10px;
}

.our-clients-container > .slick-dots li.slick-active button:before{
    color: var(--theme-color6);
    opacity: 1;
    font-size: 15px;
}

.catering-form-section{
    width: 100%;
    height: 100vh;
    padding:7% 20%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    right:0;
    z-index: 200;
    text-align: center;
    display: none;
}

.catering-form-section > .catering-form-inner{
    background: url(../images/background2-pink.png) var(--theme-color3);
    height: 100%;
    box-shadow: 0 0 20px var(--theme-color-logo2);
    border-radius: 10px;
    padding:3%;
    position: relative;
}

.catering-form-section > .catering-form-inner >h1{
    font-family: var(--main-heading-font);
    color: var(--theme-color6);
    margin-bottom: 5px;
}

.catering-form-section > .catering-form-inner > form{
    width:60%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.catering-form-section > .catering-form-inner > button{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: 700;
    color: var(--theme-color6);
    background-color: var(--transperent);
    border: var(--theme-color6) 3px solid;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.catering-form-section > .catering-form-inner > form > input, .catering-form-section > .catering-form-inner > form > select{
    border: 0;
    box-shadow: 0 0 5px rgb(49, 49, 49);
    border-radius: 5px;
    padding: 7px 10px;
    margin: 15px 0;
    text-align: center;
    background-color: #fff;
    transition: all 0.5s;
    font-family: var(--main-heading-font);
    color: #000;
    width: 100%;
}

.catering-form-section > .catering-form-inner > form > button{
    background-color: var(--theme-color5);
    color: white;
    font-family: var(--main-heading-font);
    width: 100%;
    border: 0;
    border-radius: 8px;
    padding: 7px 0;
}

@media (min-width: 1700px) and (max-width: 2600px){
    .catering-banner > h2{
        font-size: 2.5rem;
    }

    .catering-banner > h1{
        font-size: 4rem;
    }
    .catering-banner > h4{
        font-size: 2rem;
    }

    .catering-banner > p{
        font-size: 2rem;
    }

    .catering-banner-menu-container > .slick-list > .slick-track > .catering-banner-menu-item >h6{
        font-size: 1.6rem;
    }

    .catering-banner-menu-container > .slick-list > .slick-track > .catering-banner-menu-item > p{
        font-size: 1.1rem;
    }

    .catering-banner-menu-container > .slick-list > .slick-track > .catering-banner-menu-item > button{
        font-size: 1.5rem;
    }

    .catering-item-head > h3, .catering-item-head > i{
        font-size: 2rem;
    }

    .catering-item-body{
        font-size: 1.2rem;
    }

    .catering-gallery-heading{
        font-size: 3.8rem;
    }

    .catering-details-main-container > .catering-details-container > .catering-details > .catering-heading{
        font-size: 3rem;
    }

    .catering-details-main-container > .catering-details-container > .catering-details > .catering-details-intro{
        font-size: 1.5rem;
    }

    .catering-details-main-container > .catering-details-container > .catering-details > .catering-menu-heading{
        font-size: 2.5rem;
    }
    .catering-menu-container > .catering-sub-heading{
        font-size: 2rem;
    }
}


/* 
resonsive laptop 1230 */

@media screen and (max-width: 1230px){
    .catering-banner > h2{
        margin-bottom: 0;
    }

    .catering-banner-heading-carousel > .slick-list > .slick-track > .heading-item > h1{
        font-size: 50px;
    }
    .catering-banner-heading-carousel > .slick-list > .slick-track > .heading-item > h4{
        font-size: 25px;
        margin-bottom: 1vh;
    }
} 

/* 
resonsive tablet */

@media screen and (max-width: 990px) {


    .catering-details-main-container > .catering-details-container{
        height: 70vh;
        width: 80%;
    }

    .catering-details-main-container > .close-details-btn{
        top: 20px;
        right: 15px;
        height:40px;
        width: 40px;
    }

    .platform{
        width:100%;
        height: 10vh;
    }

    .waiter-1{
        height: 40vh;
        left: 6vh;
        bottom: 2vh;
    }

    .waiter-2{
        height: 40vh;
        right:6vh;
        bottom: 2vh;
    }

    .catering-banner{
        padding: 20vh 0 0;
        height: 95vh;
    }

    .catering-banner > p{
        width: 60%;
    }

    .catering-banner-menu-container{
        width: 65%;
    }

    .catering-services-container{
        width: 62%;
    }

    .gallery-main-container > .gallery-container{
        width: 60%;
    }

    .our-clients-container{
        width: 90%;
    }
}

/* responsive mobile */

@media screen and (max-width: 440px){
    .platform{
        width:100%;
        height: 10vh;
    }

    .waiter-1{
        height: 30vh;
        left: 2vh;
        bottom: 2vh;
    }

    .waiter-2{
        height: 30vh;
        right:2vh;
        bottom: 2vh;
    }

    .catering-banner > p{
        width: 90%;
    }

    .catering-banner > .design-bg{
        height: 50vh;
        width: 50vh;
    }

    .catering-services-container{
        width: 80%;
    }

    .catering-banner > h2{
        margin-bottom: 0;
        transform: scale(1.1);
    }

    .catering-banner-heading-carousel > .slick-list > .slick-track > .heading-item > h1{
        font-size: 35px;
    }
    .catering-banner-heading-carousel > .slick-list > .slick-track > .heading-item > h4{
        font-size: 25px;
        margin-bottom: 1vh;
    }

    .gallery-main-container{
        margin-bottom: 50px;
    }

    .section-4 > .section-4-content-main{
        height:80%;
    }

    .section-4{
        height: auto;
    }
    .section-4 > .section-4-content-main{
        position: relative;
    }

    .our-clients-container{
        width: 95%;
    }

    .catering-menu-container{
        flex-direction: column;
    }

    .catering-form-section{
        padding: 20% 5%;;
    }

    .catering-form-section > .catering-form-inner{
        overflow-y: scroll;
        padding: 30px 10px;
    }

    .catering-form-section > .catering-form-inner > form{
        width:80%;
    }

    .catering-form-section > .catering-form-inner > button {
        position: absolute;
        top: 2px;
        right: 2px;
        font-size: 15px;
        color: black;
        background-color: var(--transperent);
        border: #000 3px solid;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        font-weight: 800;
    }
}