header{
    height: auto;
    background-color: #000;
}

.section-1{
    height: auto;
    width: 100%;
    background: url("../images/background2.png") #fff;
    position: relative;
}

.floatdiv{
    position: fixed;
    bottom: 0;
    z-index: 3;
}

.platform{
    width:100%;
    height: 20vh;
}

.waiter-1{
    height: 50vh;
    left: 20vh;
    bottom: 7vh;
}

.waiter-2{
    height: 50vh;
    right:20vh;
    bottom: 7vh;
}

.move-in-down{
    animation: moveInDown 1s;
}

.move-out-up{
    animation: moveOutUp 1s;
}



.catering-banner{
    padding: 23vh;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-image: url(../images/banner-bg.png);
}

.catering-banner > h2{
    font-family: var(--written-font);
    color: var(--theme-color2);
    transform: scale(1.5);
}

.catering-banner > h1{
    font-family: var(--main-heading-font);
    color: #fff;
    font-size: 60px;
}

.catering-banner > h4{
    font-family: var(--sub-heading-font);
    color: var(--theme-color2);
    font-size: 30px;
    text-transform: uppercase;
}

.catering-banner > p{
    font-family: var(--text-font);
    width: 65%;
    margin: 30px auto;
    color: #e3e3e3;
}

.catering-banner-menu-container{
    height:30vh;
    width:80%;
    margin: auto;
}

.catering-banner-menu-container > .slick-list > .slick-track > .catering-banner-menu-item{
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    flex-direction: column;
    padding: 5px;
}

.catering-banner-menu-container > .slick-list > .slick-track > .catering-banner-menu-item >h6{
    color: var(--theme-color6);
    font-family: var(--main-heading-font);
    font-size: large;
}

.catering-banner-menu-container > .slick-list > .slick-track > .catering-banner-menu-item  > button{
    color: #fff;
    font-family: var(--main-heading-font);
    background-color: var(--theme-color4);
    font-size: 0.8rem;
}

.catering-banner-menu-container > .slick-dots li button:before{
    color: rgb(207, 207, 207);
    opacity: 1;
    font-size: 10px;
}

.catering-banner-menu-container > .slick-dots li.slick-active button:before{
    color: white;
    opacity: 1;
    font-size: 15px;
}

/* section catering services */

.catering-scrolling-container{
    width: fit-content;
    overflow: hidden;
    margin: 50px auto;
}

.catering-scrolling-container > h1{
    font-family: var(--sub-heading-font);
    display: inline-block;
    white-space: nowrap;
    animation: scrollingVertical 25s linear infinite;
}

.catering-services-container-main{
    width: 100%;
}

.catering-services-container{
    width: 50%;
    margin: auto;
}

.catering-services-container > .catering-item{
    margin: 7px;
    overflow: hidden;
}

.catering-item-head{
    display: flex;
    justify-content: space-between;
    background-color: var(--theme-color5);
    padding: 10px 30px;
    border-radius: 5px;
    z-index: 3;
    position: relative;
}


.catering-item-head > h3{
    color: white;
    font-family: var(--sub-heading-font);
    margin: 0;
}

.catering-item-head > i{
    color: white;
    font-size: 25px;
    transition: rotate 0.5s linear;
}

.catering-item-body{
    display: none;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    z-index: 1;
    position: relative;
}

.catering-gallery-heading{
    text-align: center;
    margin: 10vh auto 2vh;
    font-family: var(--main-heading-font);
    color: var(--theme-color5);
}

.gallery-main-container{
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 0;
}

.gallery-main-container > .gallery-container{
    position: relative;
    height:55vh;
    width: 50%;
    margin: auto;
}

 .gallery-catering-item{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.gallery-catering-item > img{
    width:auto;
    height:45%;
    margin: auto;
    border-radius: 10px;
}

.slick-initialized .slick-slide{
    display: flex;
}

.slick-slide{
    transform: none;
    margin: 20px;
    opacity: 1;
    border-radius: 0;
}

.slick-prev::before, .slick-next::before{
    color: var(--theme-color4);
}

@media (min-width: 1700px) and (max-width: 2600px){
    .catering-banner > h2{
        font-size: 4rem;
    }

    .catering-banner > h1{
        font-size: 6rem;
    }
    .catering-banner > h4{
        font-size: 2.8rem;
    }

    .catering-banner > p{
        font-size: 2rem;
    }

    .catering-item-head > h3, .catering-item-head > i{
        font-size: 3rem;
    }

    .catering-item-body{
        font-size: 2rem;
    }
}


/* 
resonsive laptop 1230 */

@media screen and (max-width: 1230px){
    .catering-banner > h1{
        font-size: 50px;
    }
} 

/* 
resonsive tablet */

@media screen and (max-width: 990px) {

    .platform{
        width:100%;
        height: 10vh;
    }

    .waiter-1{
        height: 40vh;
        left: 6vh;
        bottom: 2vh;
    }

    .waiter-2{
        height: 40vh;
        right:6vh;
        bottom: 2vh;
    }

    .catering-banner{
        padding: 25vh 0 0;
        height: 95vh;
    }

    .catering-banner > p{
        width: 60%;
    }

    .catering-services-container{
        width: 62%;
    }

    .gallery-main-container > .gallery-container{
        width: 60%;
    }
}

/* responsive mobile */

@media screen and (max-width: 440px){
    .platform{
        width:100%;
        height: 10vh;
    }

    .waiter-1{
        height: 30vh;
        left: 2vh;
        bottom: 2vh;
    }

    .waiter-2{
        height: 30vh;
        right:2vh;
        bottom: 2vh;
    }

    .catering-banner > p{
        width: 90%;
    }

    .catering-services-container{
        width: 80%;
    }

    .catering-banner > h1{
        font-size: 35px;
    }

    .catering-banner > h4{
        font-size: 20px;
    }
}