/* header{
    height: auto;
    background-color: var(--header-bg-color);
} */

.contact-container{
    width: 100%;
    background: url(../images/banner-bg.png);
    text-align: center;
    padding: 20vh 0;
    display: flex;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
}

.contact-container > .contact-overlay-green{
    position: absolute;
    height: 100%;
    width:100%;
    top:0;
    left:0;
    z-index: 0;
    background-color: rgba(9, 59, 0,0.2);
}

.contact-container > .design-bg{
    position: absolute;
    height:100vh;
    width: 100vh;
    left: -4%;
    top: 10%;
    animation: rotate360 90s linear infinite;
    z-index: 2;
}


.contact-container > .contact-details-container{
    width:40%;
    height: 70vh;
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    z-index: 3;
}

.contact-container > .contact-details-container > i{
    color: var(--theme-color5);
    font-size: 7vh;
}

.contact-container > .contact-details-container > p{
    font-family: var(--text-font);
    color: var(--theme-color-logo2);
    font-size: 20px;
}

.contact-container > .contact-form-container{
    width: 60%;
    height: auto;
    position: relative;
    z-index: 3;;
}

.contact-container > .contact-form-container > .contact-intro{
    font-family: var(--written-font);
    color: var(--theme-color-logo2);
    text-transform: capitalize;
}

.contact-container > .contact-form-container > .contact-heading{
    font-family: var(--main-heading-font);
    color: var(--theme-color5);
    text-transform: uppercase;
}

#contactForm{
    width: 70%;
    margin: auto;

}

#contactForm > .contact-form-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 30px 0;
}

#contactForm > .contact-form-container > input , #contactForm > .contact-form-container > textarea, #contactForm > .contact-form-container > select{
    border: 0;
    box-shadow: 0 0 5px rgb(49, 49, 49);
    border-radius: 5px;
    padding: 7px 10px;
    margin: 20px 0;
    text-align: center;
    background-color: #fff;
    transition: all 0.5s;
    font-family: var(--main-heading-font);
    color: #000;
    width: 100%;
}

#contactForm > .contact-form-container > input::placeholder ,#contactForm > .contact-form-container > textarea::placeholder{
    font-family: var(--main-heading-font);
    color: #000;
    opacity: 0.8;
}

#contactForm > .contact-form-container > input:focus , #contactForm > .contact-form-container > textarea:focus ,textarea, #contactForm > .contact-form-container > select:focus{
    outline: none;
    box-shadow: 0 0 10px rgb(49, 49, 49);
}

#contactForm > button{
    background-color: var(--theme-color5);
    color: white;
    font-family: var(--main-heading-font);
    width: 100%;
    border: 0;
    border-radius: 8px;
    padding: 7px 0;
    transition: all 0.3s;
}

#contactForm > button:hover{
    background-color: var(--btn-hover-color);
}


@media (min-width: 1700px) and (max-width: 2600px){
    .contact-container > .contact-intro{
        font-size: 4rem;
    }
    .contact-container > .contact-heading{
        font-size: 5rem;
    }

    
    #contactForm > .contact-form-container > input, #contactForm > .contact-form-container > textarea, #contactForm > .contact-form-container > select{
        font-size: 1.5rem;
    }
    #contactForm > button{
        font-size: 1.5rem;
    }
}


/*resonsive tablet */

@media screen and (max-width: 990px) {
    .contact-container{
        padding: 25vh 5vh;
    }
}

/* responsive mobile */

@media screen and (max-width: 440px){
    .contact-container{
        flex-direction: column;
    }

    .contact-container > .contact-details-container{
        width: 100%;
        height:50vh;
        padding-bottom: 10vh;
    }

    .contact-container > .contact-details-container > i{
        font-size: 5vh;
    }

    .contact-container > .contact-form-container{
        width: 100%;
    }

    #contactForm{
        width: 80%;
        margin: auto;
    
    }
    .contact-container{
        padding: 20vh 2vh;
    }

    #contactForm > .contact-form-container{
        flex-direction: column;
    }

    #contactForm > .contact-form-container > input{
        width:100%;
    }

    .contact-container > .design-bg{
        height: 50vh;
        width: 50vh;
    }
}