@font-face {
    font-family: 'Pristina';
    src: url('../fonts/PRISTINA.TTF') format('truetype');
  }
  

:root{
    --theme-color1: #7E060E;
    --theme-color2: #E3C065;
    --theme-color3: #FFF7E9;
    --theme-color4: #005F56;
    --theme-color5: #ce6812;
    --theme-color6: #193f35;
    --menu-color: #a74d03;
    --header-bg-color: rgba(25,63,	53,0.9);
    --text-color:#535353;
    --theme-color-logo2: #c1bcb9;
    --written-font: 'Pristina', sans-serif;
    --written-font-mobile: 'Dancing Script', cursive;
    --sub-heading-font: 'Bebas Neue', sans-serif;
    --main-heading-font: 'Rozha One', serif;
    --text-font:'Poppins', sans-serif;
    --trasperent: rgba(0,0,0,0);
}



body{
    margin: 0;
    padding: 0;
    width:100vw;
    overflow-x: hidden    ;
}

*{
    margin: 0;
    padding: 0;
}

p{
    font-family: var(--text-font);
    color: var(--text-color);
}


.utility-background-property{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.scroll-appear{
    opacity: 0;
}
.appear{
    opacity: 1;
    /* animation: moveInLeft 1s linear ; */
}