.locations-main-container{
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    background-image: url(../images/banner-bg.webp);
    
}

.locations-main-container   .locations-list-container{
    width: 18%;
    height: 100%;
    background-size: 100% 100%;
    padding-top: 12vh;
    padding-right: 10px;
}

.locations-main-container .locations-list-container .overflow-auto::-webkit-scrollbar {
    width: 5px;
    background-color: white;
}

/* .locations-main-container .locations-list-container .overflow-auto::-webkit-scrollbar-track {
    background-color: var(--header-bg-color);
} */

.locations-main-container .locations-list-container .overflow-auto::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--theme-color4); 
}

.locations-main-container   .locations-list-container   .location-tab{
    margin:5px 0;
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid var(--theme-color5);
    cursor: pointer;
}

.locations-main-container   .locations-list-container  .location-tab .title{
    font-size: 17px;
}
.locations-main-container   .locations-list-container  .location-tab .text-xxs{
    font-size: 12px;
    margin-bottom: 0;
}

.locations-main-container .locations-list-container .location-tab-active{
    background-color: #ce67126c;
}

.locations-main-container   .locations-list-container   .location-tab   h4{
    font-family: var(--sub-heading-font);
    margin: 0;
}

.locations-main-container   .locations-main-body{
    width:82%;
    height: 100%;
    /* background-image: url(../images/background2.png);*/
    padding-top: 12vh;
}

.location-information-container{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    display: none;
    border-radius: 10px 0 0 0;
}

.location-information-container .location-info{
    width: 62%;
    height:100%;
    overflow-y: auto;
    padding: 15px;
    background-image: url(../images/menu-bg-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.location-information-container .location-info::-webkit-scrollbar {
    width: 12px;
}

.location-information-container .location-info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.location-information-container   .location-info::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.location-information-container   .location-info .title{
    font-family: var(--main-heading-font);
    color: black;
    font-size: 1.7rem;
    text-transform: uppercase;
}
.location-information-container   .location-info .sub-title{
    font-family: var(--main-heading-font);
    color: black;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.location-information-container   .location-info p{
    font-family: var(--text-font);
    font-size: 13px;
}

.location-information-container   .location-image{
    width:35%;
    height:100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.location-information-container   .location-image .images-grid{
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    padding: 10px;
}

.location-information-container   .location-image .images-grid .title{
    font-family: var(--sub-heading-font);
    color: black;
}

.location-information-container   .location-image .images-grid .info-container{
    display: grid;
    grid-template-columns: 20px auto;
    column-gap: 10px;
    row-gap: 7px;
    color: black;
}
.location-information-container   .location-image .images-grid .info-container p{
    margin-bottom: 0;
    font-size: 14px;
}

.location-information-container   .location-image .map-container{
    width: 100%;
    flex: 1;
}
.location-information-container   .location-image .map-container iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

.locations-main-body .carousel-container .item{
    height: 30vh;
    border-radius: 10px;
    overflow: hidden;
    transform: scale(1);
}
.close-list-btn{
    display: none !important;
}
.open-list-btn{
    display: none;
}
.header-nav-elements-container {
    left: 46%;
}
.header-nav-elements-container {
    left: 46%;
}

.social-media-icon {
    font-size: 30px; 
    color: #1a3f35;
}

.locations-link {
    color: black;
    text-decoration: none;
}

/* responsive styles mobile */
@media screen and (max-width:600px) {
    .location-information-container{
        flex-direction: column;
    }
    .location-information-container .location-info{
        width: 100%;
        height: auto;
    }
    .location-information-container .location-image{
        width: 100%;
        padding: 10px 0;
    }
    .location-information-container .location-image .images-grid{
        height: 43%;
    }

    .location-information-container .location-image .map-container{
        height: 75%;
    }
    .locations-main-body .carousel-container .item{
        height: 20vh;
    }
    .location-information-container .location-info .title{
        font-size: 1.3rem;
    }
    .location-information-container .location-info .sub-title{
        font-size: 1rem;
    }

    .locations-main-container .locations-list-container{
        width: 0;
    }
    .locations-main-container .locations-list-container .list{
        position: absolute;
        z-index: 10;
        display: none;
    }
    .locations-main-container .locations-main-body{
        width: 100%;
    }
    .close-list-btn{
        display: flex !important;
        position: sticky;
        top: 0;
        width: 100%;
    }
    .open-list-btn{
        display: block;
        position: fixed;
        rotate: 270deg;
        z-index: 9;
        left: -40px;
        top: 20vh;
        padding: 5px 10px;
        border-radius: 5px;
        border: 0;
        background-color: var(--theme-color1);
        font-family: var(--main-heading-font);
        color: white;
    }
}