header{
    height: auto;
    background-color: var(--treansprent);
}

.ourstory-banner-container{
    padding: 20vh 5vh 8vh;
    background-image: url(../images/banner-bg.png);
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.ourstory-overlay-green{
    position: absolute;
    height: 100vh;
    width:100%;
    top:0;
    left:0;
    z-index: 0;
    background-color: rgba(9, 59, 0,0.2);
}

.ourstory-banner-container> .ourstory-banner-content > .design-bg{
    position: absolute;
    height:100vh;
    width: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    animation: rotate360 90s linear infinite;
    z-index: 2;
}



.ourstory-banner-container> .ourstory-banner-content{
    width:50%;
    height: 80vh;
}

.ourstory-banner-container> .ourstory-banner-para{
    width:40%;
    height:80vh;
    position: relative;
    z-index: 3;
}

.ourstory-banner-content > .ourstory-banner-para{
    width: 100%;
    height: 25vh;
    padding: 0 5px;
    position: relative;
    z-index: 3;
    overflow-y: scroll;
}

.ourstory-banner-content > .ourstory-banner-para::-webkit-scrollbar {
    width: 2px;
}

.ourstory-banner-content > .ourstory-banner-para::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.ourstory-banner-content > .ourstory-banner-para::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 15px var(--theme-color-logo2); 
}


.ourstory-banner-container> .ourstory-banner-content > .ourstory-intro{
    font-family: var(--written-font);
    color: var(--theme-color-logo2);
    transform: scale(1.1);
    position: relative;
    z-index: 3;
}

.ourstory-banner-container> .ourstory-banner-content> .ourstory-banner-para > p{
    color: var(--theme-color-logo2);
    font-size: 16px;
    position: relative;
    z-index: 3;
}

.ourstory-banner-container> .ourstory-banner-content  > .ourstory-heading{
    font-family: var(--main-heading-font);
    color: var(--theme-color5);
    font-size: 60px;
    position: relative;
    z-index: 3;
    text-transform: uppercase;
}

.ourstory-banner-container> .ourstory-banner-content  > .ourstory-img{
    width: 100%;
    position: relative;
    z-index: 3;
    bottom: 0;
}

.ourstory-banner-container > .ourstory-text{
    font-family: var(--text-font);
    width: 70%;
    margin: auto;
}

.ourstory-section-2{
    height: auto;
    width: 100%;
    background: url(../images/background2-pink.png) var(--theme-color3);
    padding: 10vh 10vh;
    position: relative;
    overflow: hidden;
}

.ourstory-section-2 > .section-2-intro{
    font-family: var(--written-font);
    color: var(--theme-color6);
    font-size: 50px;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
}

.ourstory-section-2 > .section-2-main-heading{
    font-family: var(--main-heading-font);
    color: var(--theme-color5);
    font-size: 50px;
    margin-bottom: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.ourstory-section-2 > .heading-container{
    background-color: var(--theme-color5);
    margin-left: -10vh;
    width:60%;
    color: white;
    font-family: var(--main-heading-font);
    text-align: center;
    padding: 0 10px;
    border-radius: 0 30px 30px 0;
    text-transform: uppercase;
}

.ourstory-section-2 > ul{
    padding-left: 0;
    margin: 3vh 0;
}

.ourstory-section-2 > ul >li{
    list-style: none;
    font-family: var(--sub-heading-font);
    color: var(--theme-color6);
    font-size: 25px;
    margin: 5px 0;
}

.ourstory-section-2 > ul > li:first-child>span{
    margin: 0 5px;
    display: inline-block;
}

.ourstory-section-2 > ul >li>p{
    font-size: 16px;
    width: 60%;
}

.ourstory-section-2 > .section-2-img-1 {
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 30%;
}

.ourstory-section-3{
    width: 100%;
    background: url(../images/background2-pink.png) var(--theme-color3);
    padding: 0 5vw ;
    overflow: hidden;
}


.ourstory-section-3 > .section-3-intro{
    font-family: var(--written-font);
    color: var(--theme-color6);
    font-size: 50px;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
}

.ourstory-section-3 > .section-3-main-heading{
    font-family: var(--main-heading-font);
    color: var(--theme-color5);
    font-size: 50px;
    margin-bottom: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.ourstory-section-3 > .section-3-container{
    display: flex;
    justify-content: space-around;
}

.ourstory-section-3 > .section-3-container > .image-section{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourstory-section-3 > .section-3-container > .image-section>img{
    height: 50vh;
    border-radius: 20%;
    border: solid 1rem var(--theme-color5);
    margin: auto;
}

.ourstory-section-3 > .section-3-container > .info-section{
    width: 50%;
}

.ourstory-section-3 > .section-3-container > .info-section > .info-item{
    display: flex;
    justify-content: space-between;
}

.ourstory-section-3 > .section-3-container > .info-section > .info-item > button{
    width: 70px;
    height: 70px;
    border: 0;
    background-color: var(--theme-color5);
    color: white;
    border-radius: 50%;
    font-family: var(--sub-heading-font);
    font-size: 30px;
}

.ourstory-section-3 > .section-3-container > .info-section > .info-item  > .info-inner{
    width: 85%;
    margin: 1vh 0;
}

.ourstory-section-3 > .section-3-container > .info-section > .info-item  > .info-inner >h3{
    color: var(--theme-color6);
    font-family: var(--sub-heading-font);
}

.ourstory-section-4{
    width: 100%;
    background: url(../images/background2-pink.png) var(--theme-color3);
    padding: 10vh 5vw ;
    overflow: hidden;
}

.ourstory-section-4 > .section-4-intro{
    font-family: var(--written-font);
    color: var(--theme-color6);
    font-size: 50px;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
}

.ourstory-section-4 > .section-4-main-heading{
    font-family: var(--main-heading-font);
    color: var(--theme-color5);
    font-size: 50px;
    margin-bottom: 10rem;
    text-align: center;
    text-transform: uppercase;
}

.ourstory-section-4 > .section-4-container{
    display: flex;
    justify-content: space-between;
}

.ourstory-section-4 > .section-4-container > .inner-section{
    background-color: var(--theme-color6);
    width: 30%;
    text-align: center;
    padding: 10vh 5vh;
    position: relative;
}

.ourstory-section-4 > .section-4-container > .inner-section > .abs-img{
    position: absolute;
    height: 60%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -40%;
}

.ourstory-section-4 > .section-4-container > .inner-section > h2{
    color:var(--theme-color-logo2);
    font-family: var(--sub-heading-font);
}

.ourstory-section-4 > .section-4-container > .inner-section > p{
    color:var(--theme-color-logo2);
}

/* 
.ourstory-section-2 > .section-2-container-1 , .ourstory-section-2 > .section-2-container-2{
    width:90%;
    margin: auto;
    height:50%;
    padding: 2% 5%;
    display: flex;
    justify-content: space-around;
}

.section-2-container-1> .section-2-inner-1 , .section-2-container-2> .section-2-inner-1{
    width:60%;
    height:80%;
    margin:auto 0;
}

.section-2-container-1 > .section-2-inner-1 >h1 , .section-2-container-2 > .section-2-inner-1 >h1{
    font-family: var(--main-heading-font);
    color: var(--theme-color5);
}

.section-2-container-1 > .section-2-inner-1 >p , .section-2-container-2 > .section-2-inner-1 >p{
    font-family: var(--text-font);
    color: var(--text-color);
}

.section-2-container-1 > .section-2-inner-2 , .section-2-container-2 > .section-2-inner-2{
    width:40%;
    height: 80%;
}

.section-2-container-1 > .section-2-inner-2{
    text-align: right;
}

.section-2-container-1 > .section-2-inner-2 >img, .section-2-container-2 > .section-2-inner-2 >img{
    width:80%;
    height: auto;
}

.section-2-container-2 > .section-2-inner-2 >img{
    border-radius: 10px;
} */

@media (min-width: 1700px) and (max-width: 2600px) {
    .ourstory-banner-container > .ourstory-intro{
        font-size: 3rem;
    }

    .ourstory-banner-container > .ourstory-heading{
        font-size: 5rem;
    }

    .ourstory-banner-container > .ourstory-text{
        font-size: 1.5rem;
        width: 80%;
    }

    .ourstory-banner-container > .ourstory-banner-para > p{
        font-size: 1.2rem;
    }

    .ourstory-banner-container> .ourstory-banner-content> .ourstory-banner-para > p{
        font-size: 1.25rem;
    }

    .ourstory-banner-container> .ourstory-banner-content > p{
        font-size: 1.2rem;
    }

    .ourstory-section-2 > ul >li{
        font-size: 2.3rem;
    }

    .ourstory-section-2 > ul >li>p{
        font-size: 1.3rem;
    }

    /* .section-2-container-1 > .section-2-inner-1 >h1, .section-2-container-2 > .section-2-inner-1 >h1{
        font-size: 4rem;
    }

    .section-2-container-1 > .section-2-inner-1 >p, .section-2-container-2 > .section-2-inner-1 >p{
        font-size: 1.3rem;
    } */

    .ourstory-section-3 > .section-3-container > .info-section > .info-item > .info-inner > h3{
        font-size: 2.5rem;
    }

    .ourstory-section-3 > .section-3-container > .info-section > .info-item > .info-inner > p{
        font-size: 1.3rem;
    }
}

/* responsive styles laptop 1024px */
@media screen and (max-width:1230px) {
    .ourstory-banner-container > .ourstory-text{
        width:80%;
    }

    .ourstory-banner-container > .ourstory-banner-para > p{
        font-size: 12px;
    }

    .ourstory-section-3 > .section-3-container > .image-section>img{
        height: 60vh;
    }

    .ourstory-section-4 > .section-4-container > .inner-section > p{
        font-size: 12px;
    }
}


/* responsive styles tablet */
@media screen and (max-width:991px) {
    .ourstory-banner-container > .ourstory-img{
        width: 60%;
    }
    .ourstory-banner-container > .ourstory-text{
        width:90%;
    }

    .ourstory-banner-container> .ourstory-banner-content{
        width: 75%;
    }

    .ourstory-section-2 > .section-2-img-1 {
        display: none;
        position: absolute;
        bottom: 20%;
        right: 10%;
        width: 40%;
    }

    .ourstory-section-2 > ul >li>p{
        width: 100%;
        font-size: 12px;
    }

    .ourstory-section-2 > ul >li{
        font-size: 22px;
    }

    .ourstory-section-3 > .section-3-container > .image-section>img{
        height: 45vh;
    }

    .ourstory-section-3 > .section-3-container > .info-section > .info-item > button{
        height: 50px;
        width: 50px;
    }

    .ourstory-section-3 > .section-3-container > .info-section > .info-item > .info-inner > p{
        font-size: 13px;
    }

    .ourstory-section-4 > .section-4-container > .inner-section > .abs-img{
        height: 30%;
        top:-15%;
    }

    .ourstory-section-4 > .section-4-main-heading{
        margin-bottom: 5rem;
    }
}


/* responsive styles mobile */
@media screen and (max-width:440px) {
    .ourstory-banner-container{
        height: 65vh;
        padding: 15vh 0 0;
    }
    .ourstory-banner-container> .ourstory-banner-content > .ourstory-heading{
        font-size: 40px;
    }
    .ourstory-banner-container> .ourstory-banner-content > p{
        font-size: 10px;
    }
    #ourstoryPara2{
        display: none;
    }
    .ourstory-banner-container> .ourstory-banner-content{
        width: 90%;
    }
    .ourstory-banner-container > .ourstory-img{
        width: 90%;
    }
    .ourstory-banner-container > .ourstory-text{
        width:90%;
    }

    .ourstory-banner-container> .ourstory-banner-content > .design-bg{
        height: 50vh;
        width: 50vh;
    }

    .ourstory-section-2{
        height: auto;
        padding: 5% 2%;
    }

    /* .ourstory-section-2 > .section-2-container-1, .ourstory-section-2 > .section-2-container-2{
        flex-direction: column;
        height: auto;
    }
    .ourstory-section-2 > .section-2-container-2{
        flex-direction: column-reverse;
    }
    .section-2-container-1 > .section-2-inner-1 >p, .section-2-container-2 > .section-2-inner-1 >p{
        font-size: 12px;
    }
    .section-2-container-1> .section-2-inner-1, .section-2-container-2> .section-2-inner-1{
        width: 100%;
        height: auto;
    }
    .section-2-container-1 > .section-2-inner-2, .section-2-container-2 > .section-2-inner-2{
        width: 100%;
        text-align: center;
    } */

    .ourstory-section-2 > ul > li:first-child>span{
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin: 5px 0;
    }

    .ourstory-banner-container> .ourstory-banner-content> .ourstory-banner-para > p{
        font-size: 11px;
    }

    .ourstory-banner-content > .ourstory-banner-para{
        height: 15vh;
    }

    .ourstory-section-2 > .section-2-intro,.ourstory-section-3 > .section-3-intro, .ourstory-section-4 > .section-4-intro{
        font-size: 30px;
    }

    .ourstory-section-2 > .section-2-main-heading, .ourstory-section-3 > .section-3-main-heading{
        font-size: 35px;
    }

    .ourstory-section-2 > .heading-container{
        margin-left: -2%;
    }

    .ourstory-section-2 > ul{
        font-size: 12px;
    }

    .ourstory-section-2 > .section-2-img-1{
        display: none;
    }

    .ourstory-section-3 > .section-3-container{
        flex-direction: column;
    }

    .ourstory-section-3 > .section-3-container > .image-section{
        width: 100%;
        text-align: center;
    }

    .ourstory-section-3 > .section-3-container > .info-section{
        width: 90%;
        margin-top: 20px;
    }

    .ourstory-section-3 > .section-3-container > .image-section>img{
        margin: auto;
        height: auto;
        width: 80%;
    }

    .ourstory-section-3 > .section-3-container > .info-section > .info-item > .info-inner{
        margin-left: 3%;
    }

    .ourstory-section-3 > .section-3-container > .info-section > .info-item > .info-inner >h3{
        font-size: 25px;
    }

    .ourstory-section-3 > .section-3-container > .info-section > .info-item > .info-inner > p{
        font-size: 11px;
    }

    .ourstory-section-4 > .section-4-main-heading{
        font-size: 35px;
        margin-bottom: 3rem;
    }

    .ourstory-section-4 > .section-4-container{
        flex-direction: column;
        justify-content: space-between;
    }

    .ourstory-section-4 > .section-4-container > .inner-section{
        width:90%;
        margin: 10% auto;
        
    }

    .ourstory-section-4 > .section-4-container > .inner-section > .abs-img{
        height: 40%;
        top: -20%;
    }
}



