header{
    height: auto;
    background-color: #000;
}
.ourstory-container{
    padding: 25vh 10vh 8vh;
    background: url(../images/background2.png);
    text-align: center;
    overflow: hidden;
}

.ourstory-container > .ourstory-intro{
    font-family: var(--written-font);
    color: var(--theme-color5);
    transform: scale(1.5);
}

.ourstory-container > .ourstory-heading{
    font-family: var(--main-heading-font);
    color: var(--theme-color4);
    font-size: 60px;
}

.ourstory-container > .ourstory-img{
    width: 40%;
}

.ourstory-container > .ourstory-text{
    font-family: var(--text-font);
    width: 70%;
    margin: auto;
}

@media (min-width: 1700px) and (max-width: 2600px) {
    .ourstory-container > .ourstory-intro{
        font-size: 3rem;
    }

    .ourstory-container > .ourstory-heading{
        font-size: 5rem;
    }

    .ourstory-container > .ourstory-text{
        font-size: 1.5rem;
        width: 80%;
    }
}

/* responsive styles laptop 1024px */
@media screen and (max-width:1230px) {
    .ourstory-container > .ourstory-text{
        width:80%;
    }
}


/* responsive styles tablet */
@media screen and (max-width:991px) {
    .ourstory-container > .ourstory-img{
        width: 60%;
    }
    .ourstory-container > .ourstory-text{
        width:90%;
    }
}


/* responsive styles mobile */
@media screen and (max-width:440px) {
    .ourstory-container{
        padding: 20vh 1vh 5vh;
    }
    .ourstory-container > .ourstory-img{
        width: 90%;
    }
    .ourstory-container > .ourstory-text{
        width:90%;
    }
}

