header{
    width:100%;
    height: auto;
    background-color: var(--trasperent);
    position: fixed;
    top:0;
    z-index: 10;
}

#preloader{
    width: 100%;
    height: 100vh;
    background: #000;
    position: fixed;
    z-index: 100;
}

#preloader > .preloader-inner{
    height: 10vh;
    width: 20%;
    text-align: center;
    margin:40vh auto;
}

#preloader > .preloader-inner > h2{
    color: var(--theme-color5);
    font-family: var(--main-heading-font);
    letter-spacing: 2px;
}

#preloader > .preloader-inner > .loading-bar{
    border: solid 2px var(--theme-color5);
    height: 15px;
    border-radius: 5px;
}
#preloader > .preloader-inner > .loading-bar > .loading-bar-inner{
    height: 100%;
    background-color: var(--theme-color2);
    width:75%;
    animation: loading 2s;
    transition: width 2s;
}


/* navbar styles */

.navbar{
    --bs-bg-opacity: 0;
    width: 100%;
    padding: 15px 0;
}

.navbar-brand > img {
    height: 12vh;
    width: auto;
}

.nav-link , .navbar-nav .nav-link.active{
    color: #fff;
    font-family: var(--sub-heading-font);
    font-size: 22px;
    margin: auto 15px;
}

.navbar-nav .nav-link.active{
    border: #fff solid;
    border-width: 0 0 3px 0;
    
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: var(--theme-color2);
}

.navbar > .container-fluid{
    padding : 0 50px;
    position: relative;
}

.navbar-collapse {
    flex-grow: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    justify-content: space-around;
}

.navbar-expand-lg .navbar-collapse{
    width: 50%;
}

.hanger-img{
    position: absolute;
    width: 102.67px;
    height: 135.33px;
    right:100px;
    bottom: -80px;
    background-image: url(../images/hanging.png);
    background-size: cover;
    animation: waveLeftRight 5s linear infinite;
    transform-origin: 51px 10px;
    &:hover {
        animation-play-state: paused;
      }
}


.hanger-img > .icon-container{
    width:100%;
    height: 100%;
    position: relative;
}

.hanger-img > .icon-container > div{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    bottom: 4px;
}

.hanger-img > .icon-container > div > a > i{
    color : #142F15;
    font-size:22px;
}

.section-1{
    width: 100%;
    height: 100vh;
    background-image: url("../images/banner-bg.png");
    position: relative;
    overflow: hidden;
}

.banner-content{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 40%;
    text-align: center;
    z-index: 5;
    transition: transform 20s linear, opacity 2s linear;
    z-index: 4;
    opacity: 0;

}

.banner-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(9, 59, 0,0.2);
    z-index: 1;
}


.banner-content > h1:first-child{
    font-family: var(--written-font);
    color: var(--theme-color2);
    font-size: 40px;
    transform: scale(1.3);
    margin: 0;
}

.banner-content > h1:nth-child(2){
    font-family: var(--main-heading-font);
    color: #fff;
    font-size: 80px;
    margin-bottom: 10px;
    
}

.banner-content > h2{
    font-family:var(--sub-heading-font);
    color: var(--theme-color2);
    width: 70%;
    margin: auto;
}

.banner-food-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.section-1 > .design-bg{
    position: absolute;
    height:800px;
    width: 800px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    animation: rotate360 90s linear infinite;
    z-index: 2;
}

.section-2{
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: var(--theme-color3);
}

.section-2-content{
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 70%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 3;
}

.section-2 > .section-2-bg-img{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.section-2-design-bg{
    position: absolute;
    animation: rotate360 90s linear infinite;
    width: 100vh;
    height:100vh;
    left:-50vh;
}

.home-aboutus{
    width: 40%;
    text-align: center;
}

.home-aboutus >h1:first-child{
    color: var(--theme-color4);
    font-family: var(--written-font);
    font-size: 50px;
    transform: scale(1.5);
    margin:0;
}

.home-aboutus > h1:nth-child(2){
    color: black;
    font-family: var(--main-heading-font);
    color: var(--theme-color5);
    font-size: 60px;
    margin-bottom: 20px;
}

.home-aboutus > p{
    font-family: var(--text-font);
    color: #535353;
}

.home-aboutus > .aboutus-btn{
    background-color: var(--theme-color5);
    color: #fff;
    font-family: var(--main-heading-font);
    padding-left: 20px;
    padding-right: 20px;
    margin: 30px;
}



.carousel-aboutus{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.carousel-aboutus > .column-1{
    width: 40%;
    height: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.carousel-aboutus > .column-1 > .carousel-1 , .carousel-aboutus > .column-1 > .carousel-2{
    height: 47%;
    width:100%;
}

.carousel-aboutus > .column-2 > .carousel-3{
    height: 100%;
    width: auto;
} 

.carousel-aboutus > .column-1 > .carousel-1 > img , .carousel-aboutus > .column-1 > .carousel-2 >img , .carousel-aboutus > .column-2 > .carousel-3 >img{
    height: 100%;
    width: 100%;
}

.carousel-aboutus > .column-2{
    width: 55%;
    height: 100%;
}

/************/
/* section 3 */
/************/

.section-3{
    width: 100%;
    height: 100vh;
    background-image: url("../images/banner-bg.png");
    position: relative;
    overflow: hidden;
}

.section-3 > .tur-bg-right {
    position: absolute;
    height: 80vh;
    top: 25vh;
    right:8%;
    
}

.section-3 > .tur-bg-left {
    position: absolute;
    height: 80vh;
    top: 25vh;
    left:8%;
}
.section-3 > .food-left {
    position: absolute;
    height: 400px;
    bottom: -100px;
    left:00;
}
.section-3 > .food-right {
    position: absolute;
    height: 400px;
    bottom: -100px;
    right:0;
}

.section-3 > .menu-content-main{
    position: absolute;
    width: 70%;
    height: 73%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    z-index: 5;
}

.section-3 > .menu-content-main > h1{
    font-family: var(--written-font);
    color: var(--theme-color2);
    width:500px;
    margin: auto;
    transform: scale(1.7);
}

.section-3 > .menu-content-main > h2{
    font-family: var(--main-heading-font);
    color: #fff;
}

.section-3 > .menu-content-main > .menu-content{
    height: 80vh;
}

.section-3 > .menu-content-main > .menu-content > .menu-bg{
    width: 70%;
    height: 100%;
}
.section-3 > .design-bg{
    position: absolute;
    height:800px;
    width: 800px;
    right: -300px;
    top: -300px;
    animation: rotate360 90s linear infinite;
}

.section-3 > .menu-content-main > .menu-content > .menu-section{
    height: 80%;
    width: 55%;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    margin: auto;
}

.menu-section > .menu-tabs{
    display: flex;
    justify-content: space-around;
    margin: 20px auto 15px;
}


.menu-open-btn{
    color: var(--theme-color1);
    font-family: var(--main-heading-font);
    font-size: 22px;
    transition: all 0.5s;
}

.menu-tab-active{
    color: #fff;
    background-color: var(--theme-color1);
    font-family: var(--main-heading-font);
    font-size: 22px;
}


.menu-section > .menu-tabs > button:hover{
    color: #fff;
    background-color: var(--theme-color1);
}

.menu-section > .menu-items-section{
    width: 100%;
    height: 80%;
    position: relative;
    overflow-y: scroll;
}

.menu-section > .menu-items-section::-webkit-scrollbar {
    width: 8px;
}

.menu-section > .menu-items-section::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.menu-section > .menu-items-section::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 15px var(--theme-color1); 
}

.menu-items-section > .menu-card{
    padding-right: 20px;
    position: absolute;
    width: 100%;
}

.menu-items-section > .menu-card > .menu-item{
    height: 80px;
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.menu-item-inner{
    width:80%;
}

.menu-item-details{
    display: flex;
    justify-content: space-between;
}

.menu-item-details >h5{
    font-family: var(--sub-heading-font);
    color: var(--theme-color1);
    font-size: 25px;
}

.menu-item-inner > p{
    text-align: left;
    width: 80%;
    font-family: var(--text-font);
    color: #737373;
    font-size: 12px;
}

/*************************/
/* section four */
/*******************/

.section-4{
    height: 100vh;
    width: 100%;
    background-color: var(--theme-color3);
    overflow: hidden;
    position: relative;
}

.section-4-bg-img{
    position: absolute;
    height: 100%;
    width: 100%;
}

.section-4 > .section-4-content-main{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    height: 90%;
    width: 90%;
    z-index: 5;
    /* background-color: aqua; */
}

.section-4 > .section-4-content-main > h2{
    font-family: var(--written-font);
    color: var(--theme-color1);
    transform: scale(1.5);
    margin: 0;
}

.section-4 > .section-4-content-main > h1{
    font-family: var(--main-heading-font);
    color: #000;
    font-size: 60px;
}

.section-4-content-main > .carousel-main{
    width: 80%;
    margin: auto;
}


.slick-slide{
    transform:scale(0.7);
    opacity: 0.8;
    /* border-radius: 50%; */
    overflow: hidden;
    border-radius: 10px;
}

.slick-slide.slick-current {
    transform: scale(1);
    opacity: 1;
}
.slick-carousel2 > .news-info{
    padding: 2em 0;
}

.slick-slide > h1{
    margin: 3vh 0;
    font-family: var(--sub-heading-font);
    text-align: center;
    font-weight: 400;
}

.slick-slide> p{
    font-family: var(--text-font);
    text-align: center;
}

.slick-prev::before, .slick-next::before{
    color: var(--theme-color1);
    font-size: 30px;
}

.slick-prev {
    left: -50px;
}





/*************************/
/* section footer */
/*******************/

.section-footer{
    height: 90vh;
    width: 100%;
    overflow: hidden;
}

.subscribe-section{
    height: 30vh;
    background-color: var(--theme-color4);
    padding: 8vh 30vh;
    overflow: hidden;
}


.subscribe-section > h1{
    color: #fff;
    font-family: var(--sub-heading-font);
}

.subscribe-form > input{
    background-color: rgba(0,0,0,0);
    border: #fff 3px solid;
    border-radius: 5px;
    width: 70%;
    padding: 5px;
    color: #fff;
}
.subscribe-form > button{
    color: var(--theme-color4);
    font-family: var(--main-heading-font);
    padding:7px 30px;
    border-radius: 5px;
    border:0
}

footer{
    height: 60vh;
    background-image: url("../images/banner-bg.png");
}

.footer-inner {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.footer-inner > .column1{
    height: 100%;
    width: 30%;
}

.footer-inner > .column1 > img{
    height: 100px;
    width: auto;
}

.footer-inner > .column1 >p{
    color: #fff;
    font-family: var(--text-font);
    width:60%;
    font-weight: 100;
    margin-top: 50px;
}

.footer-inner > .column{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.footer-inner > .column > h1{
    color: #fff;
    font-family: var(--sub-heading-font);
}

.footer-inner > .column > a{
    color:#fff;
    text-decoration: none;
    font-family: var(--text-font);
}

#whatappIcon{
    position: fixed;
    bottom: 20px;
    right:20px;
    z-index: 5;
    font-size: 40px;
    color: white;
    background-color: 	#25D366;
    border-radius: 8px;
    padding: 5px;
}

/* responsive styles laptop 1024px */
@media screen and (max-width:1230px) {
    .banner-content{
        width:60%;
    }
    .navbar-brand > img{
        height: 70px;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        margin : 0;
    }
    .section-3 > .food-right, .section-3 > .food-left{
        height: 300px;
    }
    .section-3 > .tur-bg-right{
        right:-4px;
    }
    .section-3 > .tur-bg-left{
        left:-4px;
    }

    .section-4 > .section-4-content-main{
        width: 90%;
    }

    .section-4-content-main > .carousel-main{
        width: 90%;
    }

    .section-4 > .section-4-content-main > h1{
        font-size: 50px;
    }

    .slick-slide > h1{
        margin : 5px 0;
    }

    .slick-slide> p{
        font-size: 10px;
    }
    

    .subscribe-section{
        padding:7vh 10vh;
    }
}


/* responsive styles tablet */
@media screen and (max-width:991px) {
    header{
        position: absolute;
        background-color: #000;
        height: auto;
    }
    .hanger-img{
        display: none;
    }

    .navbar-brand > img {
        height: 70px;
    }

    .navbar > .container-fluid{
        padding: 0 30px;
    }

    .navbar-toggler{
        color: white;
        font-size: 30px;
        box-sizing: unset;
    }

    .navbar-collapse{
        position: relative;
    }

    .navbar-nav{
        padding: 0 15px;
        align-items: center;
    }

    .navbar-nav >li{
        background-color: #000;
        width: 20%;
        padding: 0 12px;
        margin: 2px;
        border-radius: 5px;
        text-align: center;
    }

    .navbar-nav .nav-link.active {
        border: 0;
    }

    .banner-content{
        width: 100%;
    }

    .banner-content > h1:first-child{
        font-size: 30px;
    }

    .banner-content > h1:nth-child(2){
        font-size: 50px;
    }
    .banner-content > h2{
        font-size: 20px;
        width: 30%;
    }

    .section-1 > .design-bg{
        height: 600px;
        width: 600px;
    }

    .section-2-content {
        width: 95%;
        height: 85%;
    }

    .carousel-aboutus{
        height: 80%;
    }

    .menu-section > .menu-tabs > button{
        font-size: 15px;
    }

    .section-3 > .menu-content-main > .menu-content > .menu-bg{
        width: 95%;
    }

    .section-3 > .menu-content-main > .menu-content > .menu-section{
        width: 70%;
    }

    .section-3 > .food-right, .section-3 > .food-left{
        height: 200px;
    }

    .section-3 > .tur-bg-right{
        right:-15%;
    }
    .section-3 > .tur-bg-left{
        left: -15%;
    }

    .section-3 > .menu-content-main{
        height: 90%;
    }

    .section-3 > .menu-content-main > .menu-content{
        height: 90vh
    }

    .section-3 > .menu-content-main > h1{
        width: 100px;
    }

    .section-3 > .design-bg{
        width:500px;
        height: 500px;
        right: -200px;
    top: -200px;
    }

    /* secton four */

    .section-4 > .section-4-content-main{
        height:90%;
        margin-top: auto;
    }

    .section-4 > .section-4-content-main > h2{
        font-family: var(--written-font);
    }

    .section-4 > .section-4-content-main > h1{
        font-size: 50px;
    }

    .slick-slide > h1{
        margin : 15px 0;
    }

    .slick-slide> p{
        font-size: 12px;
    }

    .subscribe-section{
        padding: 40px 50px;
    }

    .footer-inner > .column1 > img{
        height: 50px;
    }

    .footer-inner{
        width: 95%;
        padding-top: 50px;
    }
    .footer-inner > .column1 >p{
        width: 90%;
    }
}


/* responsive styles mobile */
@media screen and (max-width:440px) {
    .navbar-brand > img {
        height: 60px;
    }

    .navbar > .container-fluid{
        padding: 0 20px;
    }

    .navbar-toggler{
        color: white;
        font-size: 30px;
    }

    .navbar-nav >li{
        background-color: #000;
        width: 40%;
        padding: 0 12px;
        margin: 2px;
        border-radius: 5px;
    }

    #preloader > .preloader-inner{
        width: 60%;
    }

    .banner-content > h1:first-child{
        font-size: 20px;
        font-family: var(--written-font);
    }

    .banner-content > h1:nth-child(2){
        font-size: 34px;
        margin: 20px 0;
    }
    .banner-content > h2{
        font-size: 20px;
        width: 70%;
    }

    .section-1{
        height: 75vh;
    }

    .section-1 > .design-bg{
        width:350px;
        height: 350px;
        /* margin-bottom: 300px; */
    }

    .section-2-content{
        flex-direction: column;
    }

    .home-aboutus{
        width: 100%;
    }

    .home-aboutus > p{
        margin: 0 5px;
    }

    .carousel-aboutus{
        margin: auto;
        width: 80%;
        height: 40%;
    }

    .home-aboutus >h1:first-child{
        font-family: var(--written-font);
        font-size: 3rem;
    }

    .home-aboutus > h1:nth-child(2){
        font-size: 3rem;
    }

    .section-3 > .menu-content-main > .menu-content > .menu-bg{
        width: 110%;
    }

    .section-3 > .menu-content-main > .menu-content > .menu-section{
        width: 70%;
    }

    .menu-section > .menu-tabs > button{
        font-size: 15px;
        padding: 5px;
    }

    .section-3 > .menu-content-main{
        width:90%;
        height: 90%;
    }

    .menu-item-details >h5{
        font-size: 20px;
    }

    .menu-section > .menu-items-section{
        height: 70%;
    }

    .section-3 > .menu-content-main > .menu-content > .menu-bg{
        display: none;
    }

    .section-3 > .menu-content-main > h1{
        font-family: var(--written-font);
        font-size: 40px;
    }

    .section-3 > .menu-content-main > .menu-content{
        background-image: url(../images/menu-img.png);
        background-position: center;
        background-size:cover;
        background-repeat: no-repeat;
        height: 85vh;
    }

    .section-3 > .menu-content-main > .menu-content > .menu-section{
        width: 90%;
    }

    .section-4 > .section-4-content-main > h1{
        font-size: 50px;
    }

    .slick-prev {
        left: -40px;
    }

    .subscribe-section{
        padding: 50px 20px;
    }
    .subscribe-form > input{
        width: 100%;
        margin-bottom: 20px;
    }

    
    .footer-inner > .column1 > img{
        height: 40px;
    }

    .footer-inner > .column{
        width: 25%;
    }

    .footer-inner{
        width: 95%;
        padding-top: 50px;
        margin: 0 10px;
        justify-content: space-between;
    }
    .footer-inner > .column1 >p{
        width: 120%;
    }
}